* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.navbar {
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#242424;
    width: 100%; 
    max-width: 2000px; 
    height: 80px;
    position: absolute;
    top: 10%; 
}
 .logo a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-left:30px;
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links a {
    font-weight:bold;
    color: #fff;
    text-decoration: none;
    padding: 30px 20px;   
}
.nav-links a:hover {
    background-color: #f44336;
    color: #fff;   
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:white;
    padding: 10px 0;
    list-style: none;
    min-width: 200px;
    border-radius: 5px;
}

.dropdown-menu li {
    padding: 5px 15px;
}
.dropdown-menu li a {
    color: #242424;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 30%;
    right: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
  min-width:200px;
    border-radius: 5px;
    z-index: 1000;
    list-style: none;
}

.sub-menu li a {
    padding: 20px 15px;
}

.sub-menu li a:hover {
    background-color: #f44336;
    color: white;
}

.menu-item:hover  .sub-menu {
    display: block;
}
.hero {
    background: url(./images/hero2.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 100vw;
    height: 95vh;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    color: white;
    position: absolute;
    top: 40%; 
    left: 15%; 
    z-index: 2; 
    line-height: 1.2;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    color: #fff;
    margin-left:-4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    padding: 8px 30px;
    margin: 10px 0 0 0;
    transition: 0.5s;
    text-transform: uppercase;

}

.btn:hover {
    background-color: #f44336;
    border:1px solid #f44336;
    color: #fff;
}
html:hover {
    scroll-behavior: smooth;
}
.about {
    padding: 80px 20px; 
    margin-top: 40px;  
    font-size: 18px;  
    color: #333; }

.About{
    
    position: relative;
    justify-content:center;
    display: flex;
   align-items: center;
    
}
.About span{
    position:absolute;
   top:10px;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    color:#e8eaf2;
}
.About h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
   
}
.About p{
    font-size:20px;
    color:#444;
    position: absolute;
    top:70px;
}
.article{
    position:relative;
    display:flex;
    justify-content:space-between;
    width:1200px;
    top:10px;
    align-content: center;
    left:10%;
    gap:15px;
  
}
.news{
  
}
.news h3{
    position:relative;
         top:5px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        left:-25px;
}
.news p{
    font-style: italic;
    line-height: 1.5;
    font-size: 18px;
    color:#444444;
     margin-top:-15px;
     margin-left:5px;
}
.news ul{
    list-style: none;
    margin-top:-15px;
} 
.news li span{
    line-height:  2.4em;;
    color:#444444;
     margin-left:5px;
}
.content img{
    max-width:110%;
    height:auto;;
    top:20px;
}
.news .read-more{

    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    margin-top:2px;
    color:white;
    margin:20px;
    margin-left:30px;
    padding: 12px 30px;
    transition: 0.3s;
    display: inline-flex;
     text-decoration: none;
     border:1px solid #cc1616;
     background-color:#cc1616;
    align-items: center;
    justify-content: center;
}
.read-more i{
    color:white;
}
.news  i{
    color:white;
    font-size:20px;
}
.news .ul .li i{
    color:white;
    font-size:20px;
}
  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: 40px auto;
    padding:20px;
    left:5%;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
position:relative;  }
  
  .number {
    font-size: 24px;
    font-weight:400;
    color: #cc1616;
    margin:24px;
  }
  
  h3 {
    font-size: 20px;
    color: #333;
    margin: 20px 0;
    padding:4px;
    margin-left:10px;
  }
  
  p {
    font-size: 15px;
    color:#444444;
    margin:20px;
    margin-left:12px;
    line-height:1.5;
  }
  .arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#cc1616;
    padding: 10px;
    /* border-radius: 50%;  */
    width:40px;
    height:40px;

}
.arrow i {
    color: white;
    font-size: 20px;
}
.arrow:hover {
    transform: scale(1.1);
}
.clients {
    background-color: #f6f6f6;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:90px;
}

.clients img {
width:100px;
    height: auto;
    margin: 10px;
    filter:brightness(20%);
}
.clients img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter:brightness(100%);
}
.services {
    padding: 80px 20px; 
    margin-top: 10px;  
    font-size: 18px;  
    color: #333; }

.Services{
    text-align: center;
    justify-content:center;
    position: relative;
    display: flex;
   
    
}
.Services span{
    position:absolute;
    top: 1px;
   
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    color:#e8eaf2;
}
.Services h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position:absolute;
    z-index: 1;
    top:30px;
   
}
.Services p{
   position:absolute;
    font-size:20px;
    color:#444;
    top:50px;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    max-width: 1300px;
    margin: 40px auto;
    padding: 20px;
    height:auto;
    gap: 20px;
}
.cards {
    width:400px;
    height:360px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.cards:hover{
    background-color: #cc1616;
}

.cards i {
    margin: 50px auto;
    width: 64px;
    height: 64px;
    color:white;
    border-radius: 4px;
    font-size:30px;
    display: flex;
background-color: #cc1616;
box-shadow: hwb(0 22% 12%);

    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
    transform-style: preserve-3d;
}   
    .cards:hover i {
        background-color: #f6f6f6;
        color:#cc1616;
    }

  
  h3 {
    text-align: center;
    font-size: 22px;
    color: #191919;
    margin: 20px 0;
    padding:4px;
    font-weight: 700;
    margin-left:10px;
  }
  .cards:hover h3{
    color:white;
  }
  
  p {
    font-size: 15px;
    color:#444444;
    margin:20px 0;
    display:block;
    line-height:24px;
    margin-left:20px;
  }
  .cards:hover p{
    color:white;
  }
  .poster {
    position: relative;
    background: url(./images/cta-bg.jpg) no-repeat center / cover;
    width: 100vw;
    height: 65vh;
    border: 2px solid black;
    z-index: 5;
}

.poster::before {
    content: "";
    position: absolute;
    inset: 0;  
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}
.banner2 {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; 
}

.banner2 h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.banner2 p {
    font-size: 19px;
    color: #ffffff;
    line-height: 1.4;
  
}


    .team-container {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 50px;
        flex-wrap: wrap;
    }
    .team-member {
        background: #fff;
        text-align: center;
        padding: 20px;
         border:1px solid #ddd;
        width: 420px;
        height:430px;
    }
    .team-member img {
        max-width:60%;
        border-radius: 50%;
        object-fit: cover;
    }
    .team-member h3 {
        margin: 10px 0 5px;
        font-size: 20px;
    }
    .team-member p {
        font-size: 15px;
        color: #666;
        margin: 5px 0;
        font-style:italic;
    }
    .orders{
      display:flex;
      justify-content: center;
      align-items: center;
      position: relative;
  margin-top:50px;
      gap:40px;
      cursor: pointer;
}
    .orders li{
      list-style: none;
    }
    .orders span{
      background-color: #cc1616;
      border-radius: 50px;
      width:30px;
      height:30px;
     display: flex;
     justify-content: center;
     align-items: center;
      margin: 0;
      font-size: 15px;
      font-weight: 500;
    }
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
  padding:20px;
  width:80%;
}
.boxx {
  /* display: flex;
  flex-direction:column; */
  position: relative;
  overflow: hidden;
}

.boxx img {
  width: 100%;
  height: 100%;
  display:block;
}
.portfolio-info {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background:rgb(211, 211, 211);
  color: rgba(0, 0, 0, 0.1);
  transform: translateY(10px);
  bottom:0;
  left:0;
  width:100%;

}
.boxx:hover .portfolio-info {
  transform: translateY(100); 
  opacity: 0; 
  color: white; }
.box1{
  grid-column: span 1;
  grid-row: span 1;
}
.box2{
  grid-column: span 1;
  grid-row: span 2;
}
.box3{
  grid-column: span 1;
  grid-row: span 1;
}
.box4{
  grid-column: span 1;
  grid-row:span 2;
}
.box5{
  grid-column: span 1;
  grid-row: span 1;
}
.box6{
  grid-column: span 1;
  grid-row:span 2 ;
}
.box7{
  grid-column: span 1;
  grid-row: span 1;
}
.box8{
  grid-column: span 1;
  grid-row: span 2;
}


.trans h3, .trans p {
  margin: 0;
}

.iconss {
  
  margin-top: 30px;
  gap:15px;

}

.iconss i {
  font-size: 20px;
  cursor: pointer;
  color:white;
}

.iconss i:hover {
  transform: scale(1.2);
  color: #ff4b5c;
}

.boxx:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease;
}
.trans p{
  color:white;
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    padding: 10px; 
  }
 
  .social-icons i {
    font-size: 18px; 
    color: grey 
    transition: color 0.3s, transform 0.3s; 
  }
  .social-icons i:hover {
    color: #e4405f; 
    transform: scale(1.2); 
  }
  .pricing-list {
    display: flex;
    justify-content: center;
   margin-top:30px;
  }
  
  .pricing-item {
   width:430px;
   height:450px;
   padding:50px;
   background-color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px -2px;
    height: 100%;
    position: relative;
  }

  
  .pricing-item h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .pricing-item h4 {
    font-size: 30px;
    color: #e74c3c;
    margin-bottom: 20px;
  }
  .pricing-item  h4 span{
    top:2px;
    color:grey;
    font-size: 20px;

  }
  
  .pricing-item ul {
    padding: 20px 0px;
    list-style: none;
    text-align: left;
    line-height: 20px;
  }
  
  .pricing-item ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
  }
  
  .pricing-item ul li i {
    color: rgb(5, 150, 82);
    font-size: 24px;
    padding-right: 3px;
  }
  
  .pricing-item ul li.na i {
    color: #e74c3c;
    font-size: 24px;
  }
  .pricing-item ul li.na span{
    text-decoration: line-through;
  } 
  
  .pricing-item .btn {
    color:#444;
        background-color:#ffffff;
        padding: 8px 35px 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 16px;
        font-weight: 500;
        font-family: var(--heading-font);
        transition: 0.3s;
  }
  
  .pricing-item .btn:hover {
    background-color: #cc1616;
  }
  .pricing-item1 {
    top:-20px;
    width: 430px; 
    height: 690px; 
    color: white;
    padding: 50px;
    background-color: #cc1616;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 20px -2px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
 
   
   .pricing-item1 h3 {
     font-weight: 600;
     margin-bottom: 15px;
     font-size: 20px;
     color:white;
   }
   
   .pricing-item1 h4 {
     font-size: 30px;
     color: white;
     margin-bottom: 20px;
   }
   .pricing-item1 h4 span{
     top:2px;
     color:white;
     font-size: 20px;
 
   }
   
   .pricing-item1 ul {
     padding: 0px 0px;
     list-style: none;
     text-align: left;
     line-height: 15px;
   }
   
   .pricing-item1 ul li {
     font-size: 16px;
     color: white;
     margin-bottom: 10px;
     padding: 20px 0px;
     display: flex;
     align-items: center;
   }
   
   .pricing-item1 ul li i {
     color:white;
     font-size: 24px;
     padding-right: 3px;
   }
   
   .pricing-item1 ul li.na i {
     color: #e74c3c;
     font-size: 24px;
   }
   .pricing-item1 ul li.na span{
     text-decoration: line-through;
   } 
   
   .pricing-item1 .btn {
     color:#444;
       width:170px;
       height:40px;
         border: 1px solid #ddd;
         font-size: 16px;
         font-weight: 500;
         text-align: center;
         font-family: var(--heading-font);
         transition: 0.3s;
   }
   .pricing-item1 .btn:hover {
    background-color: #cc1616;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .information, .information1 {
    flex: 1;
    min-width: 250px;
    text-align: center;
    background-color:#ffffff;
    width: 100px;
    height: 230px;
    background-color: var(--surface-color);
    padding: 20px 0 20px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
  }
  
  .information1 {
    width: 800px; 
  }
  
  .information:hover, .information1:hover {
    transform: translateY(-5px);
  }
  
  .information i, .information1 i {
    font-size: 24px;
    color: #cc1616;
    border: 2px dotted #cc1616;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 30px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .information h3, .information1 h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
    font-weight: 700;
  }
  
  .information p, .information1 p {
    font-size: 14px;
    color: #666;
  }

  .contact-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    gap:20px;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.map {
  padding-right:5px;
  flex:1;
}

.contact-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input,
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.send-btn {
  background: #cc1616;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.send-btn:hover {
  background: #a81212;
}

.footer {
  background: #000;
  padding: 20px 0;
  margin: 0;
  margin:10px;
  font-family: Arial, sans-serif;
  background: #060606;
  color: #fff;
}

.footsec {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
  padding:20px;
  gap:30px;

}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-section h4 {
  padding-bottom: 5px;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.company-info{
  background: #111;
  color:white;
  margin-left:30px;
  padding:20px;
  border-top: 4px solid #a81212;
  line-height:1.8;
  display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

}
.company-info h2{
  text-align: center;
}
.company-info p{
  color:white;
  text-align: center;
}


.footer-section p, .footer-section ul {
  margin: 10px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  line-height: 2em;;
  font-size:14px;
}

.footer-section ul li a:hover {
  color: red;
}

.social-icons {

}

.social-icons a {
  font-size: 18px;
  color: #fff;
  background: #222;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* line-height: 35px; */
  border-radius: 50%;
  transition: 0.3s;
  border:1px solid #fff;
}

.social-icons a:hover {
  background: #a81212;
}

.newsletter p {
  font-size: 14px;
  color: #ccc;
  line-height:2;
}

.mail2 {
  display: flex;
  margin-top: 10px;
  align-items: center; 
}

.mail2 input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #060606;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.mail2 button {
  border: 0;
  font-size: 16px;
  padding: 16px 20px;
  margin: -8px -9px -8px 0;
background-color: #a81212;
color:white;
}

.subscribe-form button:hover {
  background-color: darkred;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #222;
}

.footer-bottom p {
  margin: 5px 0;
  color:white;
}

.footer-bottom a {
  color: red;
  text-decoration: none;
}
/* //Media query */
/* //laptop// */
@media screen and (max-width: 1024px) {
  body {
      overflow-x: hidden;
  }

  .container {
      height: 50px;
     width:1025px;
      margin: 0 auto;
  }

  .logo a {
      font-size: 26px;
      margin-left: 20px;
  }

  .nav-links {
      gap: 5px;
  }

  .nav-links a {
      padding: 20px 15px;
      display: none;
  }

  .hero {
      width:1025px;
  }

  .hero-content {
      top: 35%;
      width: 90%;
      max-width: 500px;
      margin: 40px auto;
  }

  .hero h1 {
      font-size: 35px;
  }

  .hero p {
      font-size: 20px;
  }

  .about, .services {
      padding: 30px 15px;
  }

  .about p {
      font-size: 15px;
  }

  .article {
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .news span{
  line-height:1.8;
  }

  .content img {
      max-width: 80%;
      height: auto;
      margin-top: 20px;
  }

  .box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 950px;
  }

  .card {
      background: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      text-align: left;
      position: relative;
  }

  .clients {
      background-color: #f6f6f6;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      margin: 20px auto;
  }

  .clients img {
      width: 100px;
      height: auto;
      margin: 10px;
      filter: brightness(20%);
  }

  .clients img:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
      filter: brightness(100%);
  }

  .boxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      margin: 30px auto;
      padding: 20px;
      height: auto;
      gap: 10px;
  }

  .cards {
      width: 100%;
      height: 360px;
      background: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      text-align: left;
      position: relative;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .cards:hover {
      background-color: #cc1616;
  }

  .poster {
      position: relative;
      background: url(./images/cta-bg.jpg) no-repeat center / cover;
      width: 95vw;
      margin: 20px auto;
      height: 65vh;
      border: 2px solid black;
      z-index: 5;
  }

  .info {
      flex-direction: row;
      align-items: center;
  }

  .information, .information1 {
      width: 90%;
      max-width: 600px;
  }

  .information1 {
      width: 90%;
  }

  .information i, .information1 i {
      font-size: 22px;
      width: 50px;
      height: 50px;
  }

  .information h3, .information1 h3 {
      font-size: 16px;
  }

  .information p, .information1 p {
      font-size: 13px;
  }
    .portfolio-content {
      grid-template-columns: repeat(3, 1fr);
      width: 90%; 
      gap: 25px;
    }
  
    .boxx {
      grid-column: span 1;
      grid-row: span 1;
    }
  
    .portfolio-info {
      padding: 10px;
      font-size: 18px;
    }
  
    .iconss i {
      font-size: 20px;
    }
  
    .boxx:hover {
      transform: scale(1.05); 
    }
  

  .contact-container {
      flex-direction: column;
      align-items: center;
      top: 5%;
      gap: 30px;
      width: 100%;
  }

  .contact-form {
      width: 95%;
      min-height: auto;
  }

  .map {
      width: 80%;
      padding-right: 0;
  }

  .input-group {
      flex-direction: row;
      gap: 10px;
      width: 100%;
  }

  .send-btn {
      margin-left: 60px;
      width: 30%;
      text-align: center;
  }

  .footer {
      width: 100%;
      margin: 0;
      padding: 30px 0;
  }

  .footsec {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 90%;
      margin: auto;
  }

  .footer-section {
      text-align: center;
      width: 100%;
  }

  .company-info {
      margin: 0;
      padding: 20px;
      text-align: center;
  }

  .mail2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .mail2 input {
      width: 80%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  .mail2 button {
      width: 40%;
      padding: 12px;
      margin-top: 10px;
      background-color: #a81212;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
  }

  .mail2 button:hover {
      background-color: darkred;
  }

  .team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    top:10%;
    flex-wrap: wrap;
    flex-direction: row;
}
.team-member {
    background: #fff;
    text-align: center;
    padding: 20px;
     border:1px solid #ddd;
    width: 300px;
    height:400px;
}
  

  .pricing-list {
      flex-direction:row;
      align-items: center;
  }
}


/* //Tab// */
@media screen and (max-width: 768px) {
  body {
      width: 100%;
      overflow-x: hidden; }

      .container {
       min-height:120%;
        max-width: 100%;  
      
        margin: 0 auto;
        padding: 10px;  
    }
    
    .logo a {
        font-size: 22px;
        margin-left: 10px;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .nav-links a {
        padding: 15px;
        display: block;  
        width: 100%;  
        display:none;
        text-align: center;
    } 
    
  .hero {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 30px 0;
  }

  .hero-content {
      top: 30%;
      width: 90%;
      max-width: 450px;
      margin: 20px auto;
  }

  .hero h1 {
      font-size: 30px;
  }

  .hero p {
      font-size: 18px;
  }

  .about, .services {
      padding: 40px 10px;
  }

  .about p {
      font-size: 14px;
  }

  .article {
      width: 90%;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .content img {
      max-width: 95%;
      height: auto;
      padding:30px;
      margin-top: 20px;
  }

  .box {
      display: grid;
      grid-template-columns:repeat(2,1fr);
      max-width: 90%;
      margin: 10px auto;
      padding: 10px;
  }

  .card {
      background: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      text-align: left;
  }

  .clients {
      background-color: #f6f6f6;
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      margin: 10px auto;
  }

  .clients img {
      width: 80px;
      height: auto;
      margin: 10px;
  }

  .boxes {
      display: grid;
      grid-template-columns:repeat(2,1fr);
      max-width: 100%;
      margin: 20px auto;
      padding: 15px;
      gap: 10px;
  }

  .cards {
      width: 100%;
      height: auto;
      background: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      text-align: left;
      position: relative;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .pricing-item .btn {
    color:#444444;
        background-color:#ffffff;
        /* padding: 8px 35px 10px; */
        /* border-radius: 4px; */
       width:200px;
       height:50px;
        font-size: 16px;
        display: flex;
        justify-content: center;

        align-items: center;
        font-weight: 500;
        font-family: var(--heading-font);
        transition: 0.3s;
  }
  
  .pricing-item .btn:hover {
    background-color: #cc1616;
  }
  .pricing-item1 .btn {
    color:#ddd;
      width:200px;
      height:40px;
        border: 1px solid #ddd;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        font-family: var(--heading-font);
        transition: 0.3s;
  }
  .pricing-item1 .btn:hover {
   background-color: #cc1616;
 }

 .team-container {
  display: flex;
  justify-content:center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}
.team-member {
  background: #fff;
  text-align: center;
  padding: 10px;
   border:1px solid #ddd;
  width: 300px;
  height:400px;
}
  .cards:hover {
      background-color: #cc1616;
  }

  .poster {
      position: relative;
      background: url(./images/cta-bg.jpg) no-repeat center / cover;
      width: 100%;
      height: 50vh;
      margin: 20px auto;
      border: 2px solid black;
  }

  .info {
      flex-direction: column;
      align-items: center;
  }

  .information{
    width: 40%;
      max-width: 80%;
      padding: 15px;
  } 
  .information1 {
      width: 90%;
      max-width: 100%;
      padding: 15px;
  }

  .information i, 
  .information1 i {
      font-size: 20px;
      width: 45px;
      height: 45px;
  }

  .information h3, 
  .information1 h3 {
      font-size: 15px;
  }

  .information p, 
  .information1 p {
      font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    .portfolio-content {
      grid-template-columns: repeat(2, 1fr); 
      width: 90%; 
      gap: 20px; 
    }
  
    .boxx {
      grid-column: span 1;
      grid-row: span 1;
    }
  
    .portfolio-info {
      padding: 8px;
      font-size: 16px;
    }
  
    .iconss i {
      font-size: 18px;
    }
  
    .boxx:hover {
      transform: scale(1.03);
    }
  }
  

  .contact-container {
      flex-direction: column;
      align-items: center;
      top: 3%;
      gap: 20px;
      width: 100%;
  }

  .contact-form {
      width: 90%;
      min-height: auto;
  }

  .map {
      width: 90%;
      padding-right: 0;
  }

  .input-group {
      flex-direction: row;
      gap:20px;
      width: 90%;
  }

  .send-btn {
      width: 40%;
      text-align: center;
  }

  .footer {
      width: 100%;
      margin: 0;
      padding: 20px 0;
  }

  .footsec {
      display: flex;
      flex-direction:row;
      gap: 30px;
      width: 100%;
      margin: auto;
  }

  .footer-section {
      text-align: center;
      width: 100%;
  }

  .company-info {
      margin: 0;
      padding: 15px;
      text-align: center;
  }

  .mail2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .mail2 input {
      width: 60%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      
  }

  .mail2 button {
      width: 40%;
      padding: 10px;
      margin-top: 10px;
      background-color: #a81212;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;
  }

  .mail2 button:hover {
      background-color: darkred;
  }

  .team-container {
      align-items: center;
  }


  .pricing-list {
    flex-direction: column;
    padding: 10px;
    gap:30px;
}

.pricing-item {
    width: 100%; 
    height: auto; 
    padding: 20px; }

.pricing-item1 {
    width: 100%; 
    height: auto;
    padding: 20px; 
}
}

/* //mobile// */
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: hidden; 
  }

 .container {
    width: 100%; 
    margin: 0 auto;
    padding: 5px;
  }
  .logo a {
    font-size: 18px;
    margin-left: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
  }

  .nav-links a {
    display: none;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }


  .hero {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-content {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
  }

  .hero h1 {
    font-size: 22px;
  }

  .hero p {
    font-size: 14px;
  }
  .about, .services {
    padding: 10px 10px;
  }

  .about p{
    font-size: 14px;
  }
  .services p{
    font-size:14px;
  }
  .article {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content img {
    width: 90%;
    height: auto;
    margin-top: 10px;
  }
    .portfolio-content {
      grid-template-columns: repeat(1, 1fr); 
      width: 100%;
      gap: 15px; 
    }
  
    .boxx {
      grid-column: span 1;
      grid-row: span 1;
    }
  
    .portfolio-info {
      padding: 5px;
      font-size: 14px;
    }
  
    .iconss i {
      font-size: 16px;
    }
  
    .boxx:hover {
      transform: scale(1.02); 
    }
  
  


  .box {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    padding: 30px;
    max-width:120%;
  }

  .card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
  }
  .boxes {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    padding: 30px;
    max-width: 120%;
  }

  .cards {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
  }



  .clients {
    background-color: #f6f6f6;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 10px auto;
  }

  .clients img {
    width: 60px;
    height: auto;
    margin: 5px;
  }

  .poster {
    position: relative;
    background: url(./images/cta-bg.jpg) no-repeat center / cover;
    width: 100%;
    height: 60vh;
    margin: 15px auto;
    border: 2px solid black;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .information, .information1 {
    width: 90%;
    max-width: 100%;
    padding: 15px;
  }

  .information i, .information1 i {
    font-size: 20px;
    width: 45px;
    height: 45px;
  }

  .information h3, .information1 h3 {
    font-size: 15px;
  }

  .information p, .information1 p {
    font-size: 12px;
  }

 
  .contact-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .contact-form {
    width: 90%;
    min-height: auto;
  }

  .input-group {
    flex-direction: column;
    gap: 8px;
    width: 90%;
  }

  .send-btn {
    width: 90%;
    text-align: center;
  }
  .footer {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }

  .footsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: auto;
  }

  .footer-section {
    text-align: center;
    width: 100%;
  }

  .company-info {
    margin: 0;
    padding: 15px;
    text-align: center;
  }

  .mail2 {
    display: flex;
    flex-direction: column;
    width: 70%; 
    margin: 0 auto; 
}

.mail2 input {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    align-self: center; 
}
  .mail2 button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #a81212;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }

  .mail2 button:hover {
    background-color: darkred;
  }

  .team-container {
    align-items: center;
  }

  .pricing-list {
    flex-direction: column;
    padding: 10px;
}

.pricing-item {
    width: 80%; 
    height: auto; 
    padding: 20px; }

.pricing-item1 {
    width: 90%; 
    height: auto;
    padding: 20px; 
}
}

